project:
  type: website
  output-dir: docs

website:
  title: "Sensors in Person Dashboard"
  navbar:
    background: primary
    left:
      - href: index.qmd
        text: Sessions
      - href: tasks.qmd
      - href: files.qmd
      - href: timelines.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



